# Rendering Pipeline codeowners file

# All PRs need to be approved by at least 1 member of the renderingpipeline team

*       @Fusion-Power-Plant-Framework/renderingpipeline

# Module responsibility

# No submodules yet

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/renderingpipeline
/.github/ @Fusion-Power-Plant-Framework/renderingpipeline
/LICENCE @Fusion-Power-Plant-Framework/renderingpipeline
/pyproject.toml @Fusion-Power-Plant-Framework/renderingpipeline
/scripts/ @Fusion-Power-Plant-Framework/renderingpipeline
