# Rendering Pipeline codeowners file

# All PRs need to be approved by at least 1 member of the fusrr-admin team

*       @Fusion-Power-Plant-Framework/fusrr-admin

# Module responsibility

# No submodules yet

# Repository responsibility

/.* @Fusion-Power-Plant-Framework/fusrr-admin
/.github/ @Fusion-Power-Plant-Framework/fusrr-admin
/LICENCE @Fusion-Power-Plant-Framework/fusrr-admin
/pyproject.toml @Fusion-Power-Plant-Framework/fusrr-admin
/scripts/ @Fusion-Power-Plant-Framework/fusrr-admin
